/* vista mobile */
@media screen and (max-width: 768px) {
  .navbar-brand-movil {
    width: 80%;
    text-align: center;
  }

  .btn-menu {
    border: none;
    background-color: transparent;
  }

  .icon-menu {
    font-size: 1.3rem;
    color: #fff;
  }

  .btn-home-navbar {
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 20px;
  }

  .btn-home-navbar:hover {
    color: var(--color-primary);
    text-decoration: none;
  }

  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .icon-brand {
    color: var(--color-primary);
    margin-top: -3px;
  }

  .navbar-position {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    background-color: rgb(255, 255, 255);
  }
  .btn-navbar-contact {
    font-weight: bold;
    font-size: 17px;
    align-items: center;
    width: 80px;
    text-align: left;
    margin-left: 20px;
    color: var(--color-primary);
    width: 100%;
  }

  .btn-navbar-contact:hover {
    width: 100%;
    text-align: left;
    color: var(--color-primary);
  }

  .nav-item-widh {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    color: var(--color-primary);
    width: 100%;
  }

  .nav-link {
    color: var(--color-primary);
  }

  .label-darkmode {
    width: 70px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 40px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.2),
      inset 0px -5px 15px rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  .label-darkmode::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .checkbox {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .checkbox:checked + .label-darkmode::after {
    background: black;
  }

  .checkbox:checked + .label-darkmode {
    background: #45454b;
  }

  .checkbox:checked + .label-darkmode::after {
    left: calc(100% - 8px);
    transform: translateX(-100%);
  }

  .label-darkmode,
  .label-darkmode::after {
    transition: 0.3s;
  }

  .label-darkmode:active::after {
    width: 55px;
  }

  .label-darkmode svg {
    position: absolute;
    width: 22px;
    top: 7px;
    z-index: 100;
  }

  .label-darkmode svg.sun {
    left: 4px;
    fill: #7e7e7e;
    transition: 0.3s;
  }

  .label-darkmode svg.moon {
    left: 40px;
    fill: transparent;
    transition: 0.3s;
  }

  .checkbox:checked + .label-darkmode svg.sun {
    fill: transparent;
  }

  .checkbox:checked + .label-darkmode svg.moon {
    fill: #ffffff;
  }

  .separator-navbar {
    display: none;
  }

  .contact-navbar {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgb(117, 117, 117);
  }

  .icon-navbar-contact {
    margin-right: 5px;
  }

  .icon-navbar-contact:hover {
    color: black;
  }

  .icon-language {
    margin-top: -2px;
    color: rgb(117, 117, 117);
  }

  .nav-link {
    color: black;
  }
}

/* vista pc */
@media screen and (min-width: 768px) {
  .navbar {
    z-index: 1000 !important;
  }
  .navbar-brand-movil {
    width: 80%;
    text-align: center;
  }

  .btn-menu {
    border: none;
    background-color: transparent;
  }

  .icon-menu {
    font-size: 1.3rem;
    color: #fff;
  }

  .btn-home-navbar {
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 20px;
  }

  .btn-home-navbar:hover {
    color: var(--color-primary);
    text-decoration: none;
  }

  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .icon-brand {
    color: var(--color-primary);
    margin-top: -3px;
  }

  .navbar-position {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
  }

  .btn-navbar-contact {
    background-color: var(--color-primary);
    color: #fff !important;
    border: none;
    border-radius: 25px;
    padding: 4px 20px;
    font-weight: bold;
    margin-top: 3px;
    width: 100px;
  }

  .btn-navbar-contact:hover {
    background-color: var(--color-primary);
    color: #fff;
  }

  .nav-item-widh {
    display: flex;
    align-items: center;
    width: 80px;
    text-align: left;
  }

  .item-navbar-hover {
    font-size: 16px;
    font-weight: 600;
    color: rgb(117, 117, 117) !important;
  }

  .item-navbar-hover:hover {
    color: black !important;
  }

  .nav-item-widh-night-mode {
    position: relative;
    text-align: center;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    text-align: left;
  }

  .nav-item-widh-night-mode-toggle {
    text-align: center;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-align: left;
  }

  .separator-navbar {
    font-weight: 50;
    margin-top: -2px;
    font-size: 18px;
    color: rgb(182, 180, 180);
  }

  .contact-navbar {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgb(117, 117, 117);
  }

  .icon-navbar-contact {
    margin-right: 5px;
  }

  .icon-navbar-contact:hover {
    color: black;
  }

  .icon-language {
    margin-top: -2px;
    color: rgb(117, 117, 117);
  }

  .nav-link {
    color: black;
  }

  .toggleWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate3d(-50%, -50%, 0);
    color: white;
  }
  
  .toggleWrapper input {
    position: absolute;
    top: 0;
    left: 20px;
  }
  
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 66px;
    height: 30px;
    background-color: #83d8ff;
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 5px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: #ffcf96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
  }
  
  .toggle__handler .crater {
    position: absolute;
    background-color: #e8cda5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
  }
  
  .toggle__handler .crater--1 {
    top: 18px;
    left: 4px;
    width: 4px;
    height: 4px;
  }
  
  .toggle__handler .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
  }
  
  .toggle__handler .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
  }
  
  .star {
    position: absolute;
    background-color: #fff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
  }
  
  .star--1 {
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 30px;
    height: 3px;
  }
  
  .star--2 {
    top: 18px;
    left: 28px;
    z-index: 1;
    width: 30px;
    height: 3px;
  }
  
  .star--3 {
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 30px;
    height: 3px;
  }
  
  .star--4, .star--5, .star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
  }
  
  .star--5 {
    top: 32px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
    transform: translate3d(3px, 0, 0);
  }
  
  .star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
  }
  
  input:checked + .toggle {
    background-color: #749dd6;
  }
  
  input:checked + .toggle:before {
    color: #749ed7;
  }
  
  input:checked + .toggle:after {
    color: #fff;
  }
  
  input:checked + .toggle .toggle__handler {
    background-color: #ffe5b5;
    transform: translate3d(40px, 0, 0) rotate(0);
  }
  
  input:checked + .toggle .toggle__handler .crater {
    opacity: 1;
  }
  
  input:checked + .toggle .star--1 {
    width: 2px;
    height: 2px;
  }
  
  input:checked + .toggle .star--2 {
    width: 4px;
    height: 4px;
    transform: translate3d(-5px, 0, 0);
  }
  
  input:checked + .toggle .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-7px, 0, 0);
  }
  
  input:checked + .toggle .star--4, input:checked + .toggle .star--5, input:checked + .toggle .star--6 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  input:checked + .toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  input:checked + .toggle .star--5 {
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  input:checked + .toggle .star--6 {
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
   
}
