@media screen and (max-width: 768px) {
    
    .icon-btn-project{
        margin-right: 10px;
    }

    .btn-github{
        text-decoration: none;
        color: #fff;
        background-color: black;
        color: white;
        padding: 7px 10px;
        border-radius: 5px;
        font-size: 12px;
        transition: all 0.3s ease-in-out;
        width: 40%;
        text-align: center;
        cursor: pointer;
        border: 1px solid black;
    }

    .btn-github:active{
        background-color: black;
        color: #fff;
        transition: all 0.3s ease-in-out;
        transform: scale(1.1);
    }

    .btn-demo{
        text-decoration: none;
        color: #fff;
        background-color: var(--color-primary);
        padding: 7px 10px;
        border-radius: 5px;
        font-size: 12px;
        transition: all 0.3s ease-in-out;
        width: 40%;
        text-align: center;
        cursor: pointer;
        color: white;
        border: 1px solid var(--color-primary);
    }

    .btn-demo:active{
        transition: all 0.3s ease-in-out;
        transform: scale(1.1);
    }
}

@media screen and (min-width: 768px) {

    .container-carousel{
        display: block;
        position: relative;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .image-carousel{
        display: block;
        width: 500px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }
   
    .icon-btn-project{
        margin-right: 10px;
    }

    .btn-github{
        display: none;
        position: absolute;
        text-decoration: none;
        color: #fff;
        background-color: transparent;
        color: black;
        padding: 7px 10px;
        border-radius: 5px;
        font-size: 12px;
        transition: all 0.3s ease-in-out;
        width: 20%;
        text-align: center;
        cursor: pointer;
        border: 1px solid black;
        top: -500%;
        left: 26%;
    }

    .btn-github:hover{
        background-color: black;
        color: #fff;
        transition: all 0.3s ease-in-out;
        transform: scale(1.1);
    }

    .btn-demo{
        display: none;
        position: absolute;
        text-decoration: none;
        color: #fff;
        background-color: transparent;
        padding: 7px 10px;
        border-radius: 5px;
        font-size: 12px;
        transition: all 0.3s ease-in-out;
        width: 20%;
        text-align: center;
        cursor: pointer;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        top: -500%;
        left: 50%;
    }

    .btn-demo:hover{
        background-color: var(--color-primary);
        color: #fff;
        transition: all 0.3s ease-in-out;
        transform: scale(1.1);
    }

    .carousel-item:hover .btn-github{
        display: block;
        transition: all 0.3s ease-in-out;
        top: -500%;
        left: 26%;
    }

    .carousel-item:hover .btn-demo{
        display: block;
        transition: all 0.3s ease-in-out;
        top: -500%;
        left: 50%;
    }

    .carousel-item:hover .image-carousel{
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
    }
}