:root {
  --color-primary: #784cfb;
}

body {
  background-color: #fff;
}

.nav-item-widh {
  display: flex;
  align-items: center;
  width: 80px;
  text-align: left;
}

.navbar-brand-movil {
  width: 80%;
  text-align: center;
}

.btn-menu {
  border: none;
  background-color: transparent;
}

.icon-menu {
  font-size: 1.3rem;
  color: #fff;
}

.btn-home-navbar {
  border: none;
  background-color: transparent;
  color: #2c2847;
  font-weight: bold;
  font-size: 20px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-position {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
}

.container-animation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 6%;
}

.text-p-home {
  font-weight: 500;
  color: gray;
  text-align: justify;
}

.btn-home-description {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 7px 15px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  width: 200px;
}

.icon-brand {
  color: var(--color-primary);
  margin-top: -3px;
}

.btn-navbar-contact {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 4px 20px;
  font-weight: bold;
  margin-top: 5px;
  width: 100px;
}

.btn-navbar-contact:hover {
  background-color: var(--color-primary);
  color: #fff;

}
@media only screen and (max-width: 768px) {
  .container-text-home {
    display: block;
    width: 600px;
    margin-top: 2%;
    margin-left: 10px;
    margin-right: auto;
  }

  .img-home {
    display: block;
    margin-top: 5%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 769px) {
  .container-text-home {
    display: block;
    width: 600px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: auto;
  }

  .img-home {
    display: block;
    margin-top: -10%;
    margin-left: -50px;
    width: 550px;
    border: none;
  }

  .home {
    margin-top: 100px;
  }
}
