:root {
  --color-primary: #784cfb;
}

body {
  background-color: #fff;
}

.navbar-brand-movil {
  width: 80%;
  text-align: center;
}

.btn-menu {
  border: none;
  background-color: transparent;
}

.icon-menu {
  font-size: 1.3rem;
  color: #fff;
}

.btn-home-navbar {
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 20px;
}

.btn-home-navbar:hover {
  color: var(--color-primary);
  text-decoration: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-position {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
}

.container-animation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 6%;
}

.text-p-home {
  color: gray;
  text-align: justify;
}

.icon-brand {
  color: var(--color-primary);
  margin-top: -3px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8989;
}

.container-services {
  margin-top: 40px;
  height: 90vh;
}

@media only screen and (max-width: 768px) {
  .container-text-home {
    display: block;
    width: 600px;
    margin-top: 4%;
    margin-left: 10px;
    margin-right: auto;
  }

  .img-home {
    display: block;
    margin-top: 5%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-title-home {
    color: #2c2847;
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
  }

  .btn-home-description {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 7px 15px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    width: 170px;
  }

  .btn-navbar-contact {
    font-weight: bold;
    font-size: 17px;
    align-items: center;
    width: 80px;
    text-align: left;
    margin-left: 20px;
    color: var(--color-primary);
    width: 100%;
  }

  .btn-navbar-contact:hover {
    width: 100%;
    text-align: left;
    color: var(--color-primary);
  }

  .nav-item-widh {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    color: var(--color-primary);
    width: 100%;
  }

  .nav-link {
    color: var(--color-primary);
  }

  .home {
    margin-top: 40px;
    height: 90vh;
  }

  .container-services {
    margin-top: 40px;
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    gap: 30px;
  }

  .card-service {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 300px;
    border-radius: 15px;
    background-color: #784cfb;
    color: #fff;
  }

  .card-1,
  .card-2,
  .card-3 {
    margin-top: 0%;
  }

  .icon-card {
    margin-top: 10%;
  }

  .title-card {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 8%;
  }

  .paragraph-card {
    text-align: center;
  }

  .title-services {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  .paragraph-services {
    text-align: center;
    margin-top: 5%;
  }

  .container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 380px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .container-card {
    display: block;
    width: 420px;
    height: 180px;
    box-shadow: 0px 0px 2px 0px #cacace;
    border-radius: 1rem;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(56, 56, 56);
  }

  .description {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 20px;
    text-align: justify;
    color: gray;
  }

  .technologies {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 20px;
    text-align: justify;
    color: gray;
    overflow: hidden;
  }

  .container-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100px;
    margin-left: -10px;
  }

  .btn-card {
    color: rgb(97, 91, 91);
    border: none;
    border-radius: 25px;
    padding: 7px 15px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    width: 30px;
    text-decoration: none;
    transform: all 0.3s ease-in-out;
  }

  .btn-card .icon-card {
    color: rgb(97, 91, 91);
    margin-left: -6px;
  }

  .btn-card:hover .icon-card {
    color: #000000;
    transform: all 0.3s ease-in-out;
  }
}
@media only screen and (min-width: 769px) {
  /* clases toggle btn    */

  .label-darkmode {
    width: 70px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 40px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.2),
      inset 0px -5px 15px rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  .label-darkmode::after{
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .checkbox{
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .checkbox:checked + .label-darkmode::after{
    background: black;
  }

  .checkbox:checked + .label-darkmode{
    background: #45454b;
  }

  .checkbox:checked + .label-darkmode::after{
    left: calc(100% - 8px);
    transform: translateX(-100%);
  }

  .label-darkmode, .label-darkmode::after{
    transition: 0.3s;
  }

  .label-darkmode:active::after{
    width: 55px;
  }

  .label-darkmode svg{
    position: absolute;
    width: 22px;
    top: 7px;
    z-index: 100;
  }

  .label-darkmode svg.sun{
    left: 4px;
    fill: #7e7e7e;
    transition: 0.3s;
  }

  .label-darkmode svg.moon{
    left: 40px;
    fill: transparent;
    transition: 0.3s;
  }

  .checkbox:checked + .label-darkmode svg.sun{
    fill: transparent;
    
  }

  .checkbox:checked + .label-darkmode svg.moon{
    fill: #ffffff;
  }

  .container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .container-card {
    display: block;
    width: 420px;
    height: 180px;
    box-shadow: 0px 0px 2px 0px #cacace;
    border-radius: 1rem;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(56, 56, 56);
  }

  .description {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 20px;
    text-align: justify;
    color: gray;
  }

  .technologies {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 20px;
    text-align: justify;
    color: gray;
  }

  .container-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100px;
    margin-left: -10px;
  }

  .btn-card {
    color: rgb(97, 91, 91);
    border: none;
    border-radius: 25px;
    padding: 7px 15px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    width: 30px;
    text-decoration: none;
    transform: all 0.3s ease-in-out;
  }

  .btn-card .icon-card {
    color: rgb(97, 91, 91);
    margin-left: -6px;
  }

  .btn-card:hover .icon-card {
    color: #000000;
    transform: all 0.3s ease-in-out;
  }

  .container-text-home {
    display: block;
    width: 600px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: auto;
  }

  .img-home {
    display: block;
    margin-top: 3%;
    margin-left: -50px;
    width: 550px;
    border: none;
  }

  .home {
    margin-top: 50px;
    height: 90vh;
  }

  .text-title-home {
    color: #2c2847;
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
  }

  .btn-home-description {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 7px 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    width: 200px;
  }

  .btn-navbar-contact {
    background-color: var(--color-primary);
    color: #fff !important;
    border: none;
    border-radius: 25px;
    padding: 4px 20px;
    font-weight: bold;
    margin-top: 3px;
    width: 100px;
  }

  .btn-navbar-contact:hover {
    background-color: var(--color-primary);
    color: #fff;
  }

  .nav-item-widh {
    display: flex;
    align-items: center;
    width: 80px;
    text-align: left;
  }

  .item-navbar-hover {
    font-size: 16px;
    font-weight: 600;
    color: rgb(117, 117, 117) !important;
  }

  .item-navbar-hover:hover {
    color: black !important;
  }

  .nav-item-widh-night-mode {
    text-align: center;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    text-align: left;
  }

  .nav-item-widh-night-mode-toggle {
    text-align: center;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-align: left;
  }

  .separator-navbar {
    font-weight: 50;
    margin-top: -2px;
    font-size: 18px;
    color: rgb(182, 180, 180);
  }

  .contact-navbar {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgb(117, 117, 117);
  }

  .icon-navbar-contact {
    margin-right: 5px;
  }

  .icon-navbar-contact:hover {
    color: black;
  }

  .icon-language {
    margin-top: -2px;
    color: rgb(117, 117, 117);
  }

  .nav-link {
    color: black;
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
  }

  .card-service {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 300px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    color: black;
  }

  .icon-card {
    color: #784cfb;
    transition: all 0.5s ease-in-out;
    margin-top: 10%;
  }

  .card-service:hover {
    transition: all 0.5s ease-in-out;
    background-color: #784cfb;
    box-shadow: rgba(255, 255, 255, 0.5);
    color: white;
  }

  .card-service:hover .icon-card {
    transition: all 0.5s ease-in-out;

    color: white;
  }

  .card-1 {
    margin-left: 51%;
  }
  .card-3 {
    margin-left: -15%;
  }

  .card-1,
  .card-2,
  .card-3 {
    margin-top: 5%;
  }

  .title-card {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 8%;
  }

  .paragraph-card {
    text-align: center;
  }

  .title-services {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .paragraph-services {
    text-align: center;
    margin-top: 1%;
  }
}
