:root {
  --color-primary: #784cfb;
}

body {
  background-color: #fff;
}

.navbar-brand-movil {
  width: 80%;
  text-align: center;
}

.btn-menu {
  border: none;
  background-color: transparent;
}

.icon-menu {
  font-size: 1.3rem;
  color: #fff;
}

.btn-home-navbar {
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 20px;
}

.btn-home-navbar:hover {
  color: var(--color-primary);
  text-decoration: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-position {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
}

.container-animation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 6%;
}

.text-p-home {
  color: gray;
  text-align: justify;
}



.icon-brand {
  color: var(--color-primary);
  margin-top: -3px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8989;
}

.container-services{
  height: 90vh;
}

.container-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}

.card-service{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #c0c0c2;
}

@media only screen and (max-width: 768px) {
  .container-text-home {
    display: block;
    width: 600px;
    margin-top: 4%;
    margin-left: 10px;
    margin-right: auto;
  }

  .img-home {
    display: block;
    margin-top: 5%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-title-home{
    color: #2c2847;
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
  }

  .btn-home-description {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 7px 15px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    width: 170px;
  }

  .btn-navbar-contact {
    font-weight: bold;
    font-size: 17px;
    align-items: center;
    width: 80px;
    text-align: left;
    margin-left: 20px;
    color: var(--color-primary);
    width: 100%;
  }
  
  .btn-navbar-contact:hover {
    width: 100%;
    text-align: left;
    color: var(--color-primary);
  }

  .nav-item-widh {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    color: var(--color-primary);
    width: 100%;
  }

  .nav-link {
    color: var(--color-primary);
  }

  .home {
    margin-top: 40px;
    height: 90vh;
  } 
  
}
@media only screen and (min-width: 769px) {
  .container-text-home {
    display: block;
    width: 600px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: auto;
  }

  .img-home {
    display: block;
    margin-top: 3%;
    margin-left: -50px;
    width: 550px;
    border: none;
  }

  .home {
    margin-top: 50px;
    height: 90vh;
  }

  .text-title-home{
    color: #2c2847;
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
  }

  .btn-home-description {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 7px 15px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    width: 200px;
  }

  .btn-navbar-contact {
    background-color: var(--color-primary);
    color: #fff !important;
    border: none;
    border-radius: 25px;
    padding: 4px 20px;
    font-weight: bold;
    margin-top: 3px;
    width: 100px;
  }
  
  .btn-navbar-contact:hover {
    background-color: var(--color-primary);
    color: #fff;
  }

  .nav-item-widh {
    display: flex;
    align-items: center;
    width: 80px;
    text-align: left;
  }

  .nav-link {
    color: black;
  }
  
}
